{% extends 'base.html' %}
{% block main %}

<form action="{{ url_for('respostas') }}" method="post" style="margin-top: 70px;">
  {%for questionario in array_questionario%}
    <div class="card text-center" style="border-radius: 0%;border: none;border-bottom:2px solid black; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{questionario['pergunta']}}</h5>                         
          <input class="form-check-input" type="radio" name="resposta_pergunta_{{questionario['id']}}" id="SIM{{questionario['id']}}" value="SIM" required>
          <label class="form-check-label" for="SIM{{questionario['id']}}">
              SIM
          </label>
      
          <input class="form-check-input" type="radio" name="resposta_pergunta_{{questionario['id']}}" id="NAO{{questionario['id']}}" value="NAO" required>
          <label class="form-check-label" for="NAO{{questionario['id']}}">
              NÃO
          </label> 
        </div> 
    </div>
  {%endfor%}
  <div class="d-grid gap-2" style="margin: 10px;">
    <input type="submit" value="Enviar" class="btn btn-dark">
  </div> 
</form>

{% endblock %}
